@model Notifier.Models.NotificationRule

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NotificationRule</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OwnerID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OwnerID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BeforeAfterDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BeforeAfterDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionDateFilter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionDateFilter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BeforeAfterTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BeforeAfterTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionTimeFilter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionTimeFilter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocationFilter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocationFilter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepositWithdrawlFilter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepositWithdrawlFilter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoreLessEqualTrans)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoreLessEqualTrans)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransAmountFilter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransAmountFilter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescriptionFilter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescriptionFilter)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RuleID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
