@page
@model Notifier.Pages.Rules.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NotificationRule</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NotificationRule.BeforeAfterDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NotificationRule.BeforeAfterDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NotificationRule.TransactionDateFilter)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NotificationRule.TransactionDateFilter)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NotificationRule.BeforeAfterTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NotificationRule.BeforeAfterTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NotificationRule.TransactionTimeFilter)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NotificationRule.TransactionTimeFilter)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NotificationRule.LocationFilter)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NotificationRule.LocationFilter)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NotificationRule.DepositWithdrawlFilter)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NotificationRule.DepositWithdrawlFilter)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NotificationRule.MoreLessEqualTrans)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NotificationRule.MoreLessEqualTrans)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NotificationRule.TransAmountFilter)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NotificationRule.TransAmountFilter)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NotificationRule.DescriptionFilter)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NotificationRule.DescriptionFilter)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.NotificationRule.RuleID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
