@page
@model Notifier.Pages.Rules.IndexModel

    <head>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

        <style>

<<<<<<< Updated upstream
            a, p {
                font-family: 'Open Sans', sans-serif;
=======
        a.header

        a, p {
            font-family: 'Open Sans', sans-serif;
        }

        h1, h2, h3, h4, h5, h6 {
            font-family: 'Poppins', sans-serif;
        }

        body {
            background-image: url("https://i.imgur.com/CXYEAds.png");
        }

        .white {
            color: white;
        }

        .fade-in {
            animation: fadeInAnimation ease 4s;
        }

        .appear {
            animation: appear 0s 1.5s forwards;
            visibility: hidden;
        }

        @@keyframes fadeInAnimation {
            0% {
                opacity: 0;
>>>>>>> Stashed changes
            }

            h1, h2, h3, h4, h5, h6 {
                font-family: 'Poppins', sans-serif;
            }

            table {
                background-color: white;
            }

<<<<<<< Updated upstream
            th {
                background-color: white;
                color: black;
            }

            tr:nth-child(odd) {
                background-color: #006747;
                color: white;
            }

            tr:nth-child(even) {
                background-color: #006747;
                opacity: .8;
                color: white;
            }

            .details {
                color: #FFB300;
                text-decoration: underline;
            }
=======
        .btnhome {
            text-align:center;
            padding: 10px;
            width: 225px;
            border: solid 1px;
            border-radius: 5px;
            border-color: black;
            background-color: darkgreen;
            color: white;
            margin-top: 5px;
            font-family: 'Poppins', sans-serif;
        }

        input:hover {
            color: black;
            opacity: .75;
            cursor: pointer;
        }
        .top{
            margin-top: 25px;
        }
        .back{
            color: blue;
        }
        .back:hover{
            color:indigo;
            text-decoration: underline;
        }
    </style>
</head>

<body>
    <header></header>
    <div>
        <div>
            <div>
                <div class="text-center">
                    <h1 class="top">Rule Settings</h1>
                    <h4>Select a Rule</h4>
                    @if ((HttpContext.User != null) && (HttpContext.User.Identity.IsAuthenticated))
                    {
                        <a class="nav-link white" asp-page="/Rules/Location/Index"><input class="btnhome" value="Rules based off Location" /></a>
                        <a class="nav-link white" asp-page="/Rules/Description/Index"><input class="btnhome" value="Rules based off Store" /></a>
                        <a class="nav-link white" asp-page="/Rules/Time/Index"><input class="btnhome" value="Rules based off Time" /></a>
                        <a class="nav-link white" asp-page="/Rules/Amount/Index"><input class="btnhome" value="Rules based off Amount" /></a>
                        <a class="back" asp-page="/Notifications/Index">Back to Notifications</a>
                    }
>>>>>>> Stashed changes

            .details:hover {
                color: black;
            }
        </style>

    </head>

@{
    ViewData["Title"] = "Index";
}

<h1>Notification Rules</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NotificationRule[0].BeforeAfterDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NotificationRule[0].TransactionDateFilter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NotificationRule[0].BeforeAfterTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NotificationRule[0].TransactionTimeFilter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NotificationRule[0].LocationFilter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NotificationRule[0].DepositWithdrawlFilter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NotificationRule[0].MoreLessEqualTrans)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NotificationRule[0].TransAmountFilter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NotificationRule[0].DescriptionFilter)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.NotificationRule) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BeforeAfterDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionDateFilter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeforeAfterTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionTimeFilter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationFilter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepositWithdrawlFilter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoreLessEqualTrans)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransAmountFilter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescriptionFilter)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.RuleID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.RuleID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.RuleID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
