@page
@model Notifier.Pages.Rules.Location.IndexModel

@{
    ViewData["Title"] = "Location Settings";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Locations Being Tracked</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LocationRule[0].location)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.LocationRule) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.location)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.LocationRuleID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.LocationRuleID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.LocationRuleID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
