@page "/Dashboard"
@model DashboardModel
@{ ViewData["Title"] = "Dashboard";
}
@using System.Globalization;
<head>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <style>
        a, p {
            font-family: 'Open Sans', sans-serif;
        }

        h1, h2, h3, h4, h5, h6 {
            font-family: 'Poppins', sans-serif;
        }
        .bottom {
            margin-bottom: 15px;
            bottom: 5px;
            left: 0%;
            right: 0%;
            text-align: center;
        }

        .btnhome {
            text-align: center;
            padding: 1px;
            width: 165px;
            border: solid 1px;
            border-radius: 5px;
            border-color: black;
            background-color: rgba(79,168,0,.75);
            color: white;
            font-family: 'Poppins', sans-serif;
            font-size: 12px;
        }

        input:hover {
            color: black;
            cursor: pointer;
            background-color: green;
        }

        .con {
            margin-top: 20px;
        }

        .head {
            color: white
        }

        .card {
            background-color: darkgreen;
        }

        table {
            background-color: white;
        }

        th {
            background-color: white;
            color: black;
        }

        tr:nth-child(odd) {
            background-color: #006747;
            color: white;
        }

        tr:nth-child(even) {
            background-color: #006747;
            opacity: .8;
            color: white;
        }

        .bal {
            margin-top: 20px;
        }

        .details {
            color: #FFB300;
            text-decoration: underline;
        }

            .details:hover {
                color: indigo;
            }

        .title {
            padding-top: 5px;
            padding-bottom: 5px;
        }

        .date {
            color: blue;
            text-decoration: underline;
        }

            .date:hover {
                color: indigo
            }
    </style>
</head>

<div class="login">
    <div class="text-center">
        <h4 class="display-4">Welcome @Model.MyName!</h4>
    </div>
</div>


<div class="row">
    <div class="col-md-6 con">
        <div class="card" style="height: 100px; width: 1080px; margin-left:15px;">
            <div class="content">
                <div class="head">
                    <h4 class="mb-0 text-center">Balance</h4>
                    <h4 class="mb-0 text-center bal"> @Model.MyBalance.ToString("C", CultureInfo.CurrentCulture) </h4>
                </div>
                <div class="ui hidden divider"></div>
            </div>
        </div>
    </div>
</div>


<div class="col-md-12">
    <div class="row">
        <div class="col-md-6 con">
            <div class="card">
                <div class="content">
                    <div class="head">
                        <h4 class="mb-0 title text-center">Latest Transactions</h4>
                    </div>
                    <div class="canvas-wrapper">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        <a class="date" asp-page="/Dashboard" asp-route-sortOrder="@Model.DateSort">
                                            @Html.DisplayNameFor(model => model.Transaction[0].TransactionDate)
                                        </a>
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Transaction[0].Location)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Transaction[0].DepositWithdrawl)
                                    </th>
                                    <th>
                                        Amount
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Transaction)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TransactionDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Location)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DepositWithdrawl)
                                        </td>
                                        <td>
                                            <p style="text-align:right;">$@Html.DisplayFor(modelItem => item.TransAmount)</p>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="bottom">
                        <a asp-page="/Transactions/Index"><input class="btnhome text-center" value="Click To View Transactions" /></a>
                    </div>
                    <div class="ui hidden divider"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6 con">
            <div class="card">
                <div class="content">
                    <div class="head">
                        <h4 class="mb-0 title text-center">Notifications</h4>
                        <h4 class="mb-0 title text-center">You Have @Model.UnreadNotifications Unread Notifications</h4>
                    </div>
                    <div class="canvas-wrapper">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        Notification Rule
                                    </th>
                                    <th>
                                        Times Triggered This Month <a class="details" asp-page="/Notifications/MonthIndex">(List)</a>
                                    </th>
                                    <th>
                                        Times Triggerd This Year <a class="details" asp-page="/Notifications/YearIndex">(List)</a>
                                    </th>
                                    <th>
                                        Currently Unread
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.RuleCount.Count != 0)
                                {
                                    @foreach (var item in Model.RuleCount)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.RuleType)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TriggeredThisMonth)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TriggeredThisYear)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Unread)
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="canvas-wrapper">
                    </div>
                    <div class="bottom">
                        <a asp-page="/Notifications/Index"><input class="btnhome text-center" value="Click To View Notifications" /></a>
                        <form method="post" asp-page-handler="Export">
                            <button class="btnhome text-center">Export all Notifications</button>
                        </form>
                    </div>
                    <div class="ui hidden divider"></div>
                </div>
            </div>
        </div>
    </div>
</div>
