@page
@model Notifier.Pages.Rules.Misc.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this misc rule?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MiscRule.OwnerID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MiscRule.OwnerID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MiscRule.wantOverdraft)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MiscRule.wantOverdraft)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MiscRule.wantAllDeposit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MiscRule.wantAllDeposit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MiscRule.wantAllWithdraw)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MiscRule.wantAllWithdraw)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="MiscRule.MiscRuleID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
