@page
@model Notifier.Pages.Rules.Description.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>DescriptionRule</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DescriptionRule.OwnerID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DescriptionRule.OwnerID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DescriptionRule.descriptionNotification)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DescriptionRule.descriptionNotification)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.DescriptionRule.DescriptionRuleID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
